{% extends 'base.html'%}
{% block content %}
<section class="categorySection">
    <div class="categoryTitle">공연 정보</div>
    <div class="categoryListWrap">
        <div class="categoryList">
            {% for performance in performance_category_list %}
            <div class="categoryCard">
                <a href="{% url 'concertapp:detail' performance.id %}">
                    <img src="{{performance.poster.url}}" alt="">
                    <p>{{performance.title}}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="moreWrap">
        <button class="moreBtn">더 보 기</button>
    </div>
</section>
{% endblock %}