{% extends 'base.html' %}
{% load minutes_timedelta %}
{% block content %}
<section id="detailSection">
    <div class="detailTitle">공연 상세 정보</div>
    <div class="detailContent">
        <div class="detailImgWrap">
            <img class="detailImg" src="{{performance.poster.url}}" alt="">
        </div>
        <div class="detailDescWrap">
            <ul>
                <li>{{performance.category}}</li>
                <li>{{performance.title}}</li>
                <li>{{performance.start_day}} ~ {{performance.end_day}}</li>
            </ul>
            <div class="covidMessage">
                <p>코로나19 사회적 거리두기 단계 격상 및 유지 가능성에 따라</p>
                <p>선제적 대응과 관람객의 안전한 공연 관람을 위해 공연 시간이 변경됩니다.</p>
                <p>원활한 공연 진행 및 안전을 위한 불가피한 결정에 관객 분들의 너그러운 양해를 부탁드립니다.</p>
            </div>
            <ul>
                <li>티켓 오픈 시간 - {{performance.ticket_open_dt}}</li>
                &nbsp;
                {% for sked in performance.schedule.all %}
                {% if forloop.first %}
                <li>장소 - {{sked.concert_hall}}</li>
                &nbsp;
                <li>공연시간 : {{sked.time | minutes}}분</li>
                {% endif%}
                {% endfor %}
                &nbsp;
                <li>일정</li>
                <div>
                    {% for sked in performance.schedule.all %}
                    <li>{{ sked.start_dt | date:'Y.m.d H:i'}}</li>
                    &nbsp;
                    {% endfor %}
                </div>


            </ul>
            <div class="reserveWrap">
                {% if performance.reserve_available %}
                <div><a class="active" href="#">예매확인 / 취소</a></div>
                <div><a class="active" href="#">예매하기</a></div>
                {% else %}
                <div><a class="active pause" href="#">예매확인 / 취소</a></div>
                <div><a class="deactive">D - {{performance.d_day.days}}</a></div>
                {% endif %}
            </div>

        </div>
    </div>
</section>
<section id="infoSection">
    <ul>
        <li><a class="active" href="#">공연정보</a></li>
        <li><a href="#">알립니다</a></li>
        <li><a href="">좌석배치도</a></li>
    </ul>
    <!-- {% include 'concertapp/snippets/notice.html' %} -->
    {% include 'concertapp/snippets/information.html' with performance=performance%}
</section>
<style>
    #detailSection {
        position: relative;
        width: 80vw;
        max-width: 1400px;
        margin: 0 auto;
        border-bottom: 2px solid;
    }

    #infoSection {
        position: relative;
        width: 80%;
        max-width: 1400px;
        margin: 0 auto;
    }

    .detailTitle {
        text-align: center;
        font-weight: 700;
        font-size: 25px;
        border-bottom: 3px solid;
        padding: 40px 0 20px 0;
    }

    .detailContent {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 100%;
    }

    .detailImgWrap {
        height: 100%;
    }

    .detailImg {
        display: block;
        margin: 50px 50px 0 0;
        width: 85%;
        height: 80%;
    }

    .detailDescWrap {
        margin: 50px 0;
    }

    .detailDescWrap ul:first-child {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 25px;
        border-bottom: 1px solid #cacaca;
    }

    .detailDescWrap ul:first-child li {
        margin-bottom: 15px;
    }

    .detailDescWrap ul:first-child li:nth-child(2) {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 600;
    }

    .detailDescWrap ul:first-child li:nth-child(3) {
        font-size: 14px;
    }

    .detailDescWrap ul:nth-of-type(2) {
        position: relative;
    }

    .detailDescWrap ul:nth-of-type(2) div {
        position: absolute;
        left: 50px;
        top: 95px;
    }


    .reserveWrap {
        display: flex;
        margin-top: 20%;
    }

    .reserveWrap div {
        text-align: center;
        width: 33%;
    }

    .reserveWrap div a {
        border: 1px rgb(151, 151, 151) solid;
        padding: 20px 0px;
        display: block;
        transition: all .3s ease;
    }

    .reserveWrap div a.deactive {
        color: whitesmoke;
        background: gray;

    }



    .reserveWrap div a.active:hover {
        color: whitesmoke;
        background-color: cornflowerblue;
        border: 1px cornflowerblue solid;
        font-weight: 600;
    }

    .covidMessage {
        padding: 10px 0;
    }

    .covidMessage p {
        margin-bottom: 10px;
        color: red;
        letter-spacing: -2px;
    }

    #infoSection ul {
        display: flex;
        justify-content: space-around;
        margin: 0 200px;
    }

    #infoSection ul li a {
        display: block;
        border-top: 5px #fafafa solid;
        box-sizing: border-box;
        padding: 10px 20px;
    }

    #infoSection ul li a.active {
        border-top: 5px cornflowerblue solid;
    }

    @media screen and (max-width:930px) {
        .detailContent {
            display: grid;
            grid-template-columns: 100%;
        }

        .detailImg {
            margin: 50px auto;
        }

        #infoSection ul {
            margin: 0;
        }
    }
</style>
<script>
    const deActiveBtn = document.querySelector('.pause');
    if (deActiveBtn) {
        deActiveBtn.addEventListener('click', (event) => {
            event.preventDefault();
            alert("티켓예매가 오픈되지 않았습니다.")
        })
    }
</script>
{% endblock %}