{% extends 'base.html' %}
{% block content %}
<div class="main">
  {% include 'snippets/sidebar.html'%}
  <div class="mainContent">
    <div class="nowWrap">
      <div class="nowTitle">
        PLAYING
      </div>
      <div class="nowContent">
        {% for now in now_playing %}
        <div class="contentCard">
          <ul>
            <li class="contentImg"><a href="{% url 'concertapp:detail' now.id %}"><img src="{{ now.poster.url }}"></a>
            </li>
            <li class="contentTitle">{{now.title}}</li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="futureWrap">
      <div class="futureTitle">
        TICKET OPEN
      </div>
      <div class="futureContent">
        {% for come in comming_soon %}
        <div class="contentCard">
          <ul>
            <li class="contentImg"><img src="{{ come.poster.url }}"></li>
            <li class="contentTitle">{{come.title}}</li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- <div class="circular">
  <div class="inner"></div>
  <div class="remainDateTime">D-3</div>
  <div class="circle">
    <div class="bar left">
      <div class="progress"></div>
    </div>
    <div class="bar right">
      <div class="progress"></div>
    </div>
  </div>
</div> -->
<script>
  const contentCardAll = document.querySelectorAll('.contentCard')
  const contentCardView = (idx) => {
    contentCardAll[idx].classList.add('active');
  }
  for (let i = 0; i < contentCardAll.length; i++) {
    setTimeout(contentCardView(i), 3000)
  }
</script>
<style>
  .main {
    width: 100vw;
    display: inline-flex;
  }

  .mainContent {
    width: 75vw;
    height: 100vh;
  }

  .nowWrap,
  .futureWrap {
    padding: 40px 15px;
  }

  .nowTitle,
  .futureTitle {
    height: 45px;
    text-align: center;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
  }

  .nowContent,
  .futureContent {
    padding: 25px 10px 0 10px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all .3s ease;
  }

  .contentCard {
    position: relative;
    padding: 10px 20px;
    width: 200px;
    height: 310px;
    text-align: center;
    transition: all .3s ease;
    visibility: hidden;
  }

  .contentCard.active {
    visibility: visible;
  }

  .contentCard:hover {
    transform: translateY(-30px);
  }


  .nowContent .contentCard::after {
    content: "HOT";
    color: red;
  }

  .contentImg {
    margin-bottom: 10px;
  }

  .contentImg a img {
    box-shadow: 0px 0px 13px grey;
    width: 150px;
    height: 200px;
    border-radius: 1rem;
  }

  .contentImg img {
    box-shadow: 0px 0px 13px grey;
    width: 150px;
    height: 200px;
    border-radius: 1rem;
  }

  @media screen and (max-width:1500px) {

    .contentCard,
    img {
      width: 170px;
      height: 230px;
    }

    .contentTitle {
      font-size: 14px;
    }
  }

  /* .overlay {
      height: 273px;
      width: 200px;
      background-color: black;
      opacity: 0.8;
      top: 8px;
      border-radius: 20px;
      position: absolute;
    } */

  @media screen and (max-width:1325px) {

    .contentCard,
    img {
      width: 150px;
      height: 210px;
    }

    .contentTitle {
      font-size: 13px;
      font-family: 'Nanum Gothic', sans-serif;
    }
  }

  @media screen and (max-width:1210px) {

    .contentCard,
    img {
      width: 140px;
      height: 200px;
    }

    .contentTitle {
      font-size: 12px;
    }

    .contentCard {
      margin-bottom: 80px;
    }

    .nowContent,
    .futureContent {
      justify-content: center;
      padding-bottom: 0;
    }
  }

  @media screen and (max-width:900px) {

    .nowContent,
    .futureContent {
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 0;
    }

    .futureWrap {
      padding-top: 0px;
    }
  }

  .circular {
    height: 100px;
    width: 100px;
    position: relative;
    top: -55px;
    left: 43%;
  }

  .remainDateTime {
    position: absolute;
    z-index: 10;
    color: white;
    top: 40%;
    left: 35%;
  }

  .circular .inner {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background-color: black;
    border-radius: 100%;

  }

  .circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }

  .circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #4156d0;
  }

  .circle .left .progress {
    z-index: 1;
    animation: left .5s linear both;
  }

  @keyframes left {
    100% {
      transform: rotate(180deg);
    }
  }

  .circle .right {
    z-index: 3;
    transform: rotate(180deg);

  }

  .circle .right .progress {
    animation: right .5s ease-out both;
    animation-delay: .5s;
  }

  @keyframes right {
    100% {
      transform: rotate(150deg);
    }
  }
</style>
{% endblock %}