{% extends 'base.html' %}
{% block content %}
<div class="main">
  {% include 'snippets/sidebar.html' with advertisement=advertisement %}
  <div class="mainContent">
    <div class="nowWrap">
      <div class="nowTitle">
        PLAYING
      </div>
      <div class="nowContent slider">
        <div class="slideBox">
          {% for now in now_playing %}
          <div class="contentCard slideItem">
            <ul>
              <li class="contentImg"><a href="{% url 'concertapp:detail' now.id %}"><img src="{{ now.poster.url }}"></a>
              </li>
              <li class="contentTitle">{{now.title}}</li>
            </ul>
          </div>
          {% endfor %}

          <!-- copy for slide effect -->
          {% for now in now_playing %}
          <div class="contentCard slideItem">
            <ul>
              <li class="contentImg"><a href="{% url 'concertapp:detail' now.id %}"><img src="{{ now.poster.url }}"></a>
              </li>
              <li class="contentTitle">{{now.title}}</li>
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="futureWrap">
      <div class="futureTitle">
        TICKET OPEN
      </div>
      <div class="futureContent">
        {% for come in comming_soon %}
        <div class="contentCard">
          <ul>
            <li class="contentImg"><a href="{% url 'concertapp:detail' come.id %}"><img src="{{ come.poster.url }}"></a>
            </li>
            <li class="contentTitle">{{come.title}}</li>
          </ul>
          <!-- {% include 'snippets/circular.html' %} -->
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<style>
  .futureContent .contentCard:hover>.circularBack {
    background-color: rgb(0, 0, 0, 0.5);
    visibility: visible;
    animation-play-state: running;
  }

  .futureContent .contentCard:hover>.circularBack .circle .left .progress {
    animation: left .5s linear both;
  }

  .futureContent .contentCard:hover>.circularBack .circle .right .progress {
    animation: right .5s ease-out both;
    animation-delay: .5s;
  }

  .circularBack {
    visibility: hidden;
    left: 45px;
    width: 150px;
    height: 200px;
    border-radius: 1rem;
    position: absolute;
    top: 10px;
  }

  .circular {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 26%;
    left: 17%;
  }

  .remainDateTime {
    position: absolute;
    z-index: 10;
    color: white;
    top: 40%;
    left: 35%;
  }

  .circular .inner {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background-color: rgb(78, 76, 76);
    border-radius: 100%;

  }

  .circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }

  .circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: cornflowerblue;
  }

  .circle .left .progress {
    z-index: 1;
    /* animation: left .5s linear both; */
  }

  @keyframes left {
    100% {
      transform: rotate(180deg);
    }
  }

  .circle .right {
    transform: rotate(180deg);

  }

  .circle .right .progress {
    z-index: 1;
    /* animation: right .5s ease-out both; */
    /* animation-delay: .5s; */
  }

  @keyframes right {
    100% {
      transform: rotate(180deg);
    }
  }
</style>
{% endblock %}