{% extends 'base.html' %}
{% block content %}
<div class="searchWrap">
    <div class="keywordWrap">
        <span class="keyword">"{{keyword}}"</span>에 대한 검색 결과 입니다.
    </div>
    <div class="detailSearchWrap">
        <form class="detailSearchForm" id="detailSearchForm" action="{% url 'search'%}" method="GET">
            <input type="text" name="q" value="{{keyword}}">
            <div class=" dateFormWrap">
                <input type="date" id="start_day" name="start_day" value="{{start_day}}"> ~ <input type="date"
                    id="end_day" name="end_day" value="{{end_day}}">
            </div>
            <input type="submit" value="검색">
        </form>
    </div>
    <div class="searchResultWrap">
        <div class="searchLength">
            공연 [{{search_list|length}}건]
        </div>
        <ul class="searchResult">
            {% if search_list %}
            {% for performance in search_list %}
            <li class="searchResultContent">
                <div class="col poster">
                    <a href="{% url 'concertapp:detail' performance.id %}">
                        <img src="{{performance.poster.url}}" alt="">
                    </a>
                </div>
                <div class="col searchResultDesc">
                    <div class="tags">
                        <span class="tag onSale">판매중</span>
                        <!-- <span class="tag soldOut">판매종료</span> -->
                    </div>
                    <div>
                        <a href="{% url 'concertapp:detail' performance.id %}">{{performance.title}}</a>
                    </div>
                </div>
                <div class="col placeDatetime">
                    {% for sked in performance.schedule.all %}
                    {% if forloop.first %}
                    <span>{{sked.concert_hall}}</span>
                    {% endif %}
                    {% endfor %}
                    <span>{{performance.start_day | date:'Y.m.d'}} ~ {{performance.end_day | date:'Y.m.d'}}</span>
                </div>
            </li>
            {% endfor%}
            {% endif %}
        </ul>
    </div>
</div>
<style>
    .searchWrap {
        padding: 20px;
        width: 80vw;
        margin: 0 auto;
        max-width: 1250px;
    }

    .keywordWrap,
    .detailSearchWrap {
        padding: 25px 70px 30px;
        margin-bottom: 50px;
        box-sizing: border-box;
        border-radius: 10px;
        background: #f4f6f9;
        text-align: center;
        font-size: 24px;
    }

    .detailSearchWrap {
        box-sizing: border-box;
        padding: 25px 70px 25px;
        justify-content: center;
        display: flex;
    }

    .detailSearchForm input {
        padding: 5px 15px;
        margin: 10px;
    }

    .detailSearchForm {
        display: flex;
        flex-wrap: wrap;
    }

    .detailSearchForm input[type="text"],
    .detailSearchForm input[type="date"] {
        box-shadow: 0 0 0 1px #cccbcb;
        border: none;
        outline: none;
        border-radius: 10px;
        width: 130px;
        padding: 5px 15px;
        margin: 10px;
    }

    .detailSearchForm input[type="text"] {
        height: 20px;
    }

    .detailSearchForm input[type="submit"] {
        cursor: pointer;
        background-color: white;
        border: 1px solid cornflowerblue;
        border-radius: 10px;
        color: cornflowerblue;
    }

    .detailSearchForm .dateFormWrap {
        align-items: baseline;
        display: flex;
        font-weight: 100;
    }

    .searchLength {
        padding: 10px;
        border-bottom: 1px solid #cacaca;
    }

    .searchResultContent {
        width: 100%;
        display: table;
        table-layout: fixed;
        padding: 20px 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #cacaca;
        position: relative;
    }

    .searchResultContent .col {
        display: table-cell;
        vertical-align: top;
    }

    .searchResultContent .col.poster {
        width: 185px;
    }

    .searchResultContent .col.searchResultDesc {
        padding: 0 60px 0 30px;
    }

    .searchResultDesc div:nth-of-type(2) a {
        font-size: 20px;
        font-weight: 700;
    }

    .tags {
        padding: 10px 0 6px 0;
        margin-bottom: 20px;
    }

    .tags .tag.onSale {
        color: cornflowerblue;
        border: 1px solid cornflowerblue;
        border-radius: 5px;
        padding: 2px 10px;
        font-size: 14px;
    }

    .tags .tag.soldOut {
        color: #b3b3b3;
        border: 1px solid #b3b3b3;
        border-radius: 5px;
        padding: 2px 10px;
        font-size: 14px;
    }

    .searchResultContent .col.placeDatetime {
        vertical-align: bottom;
        padding: 20px 10px;
        width: 180px;
    }

    .searchResultContent .col.placeDatetime span {
        display: block;
    }

    @media screen and (max-width: 930px) {
        .searchResultDesc div:nth-of-type(2) a {
            font-size: 15px;
            font-weight: 700;
        }

        .searchResultContent .col.searchResultDesc {
            padding: 0 0 0 20px;
            width: 100%;
        }

        .searchResultContent .col.placeDatetime {
            font-size: 14px;
            left: 210px;
            bottom: 1px;
            position: absolute;
        }
    }

    @media screen and (max-width: 660px) {
        .keywordWrap {
            font-size: 1em;
        }
    }
</style>
<script>
    const startDay = document.querySelector("#start_day")
    const endDay = document.querySelector("#end_day")
    const now = new Date();
    now.setMonth(now.getMonth() + 1)
    function toStringByFormatting(date, delimiter = '-') {
        const year = date.getFullYear();
        const month = String(date.getMonth()).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');

        return [year, month, day].join(delimiter)
    }
    if (startDay.value === '') {
        startDay.value = toStringByFormatting(now);
        endDay.value = `${now.getFullYear()}-12-31`;
    }
</script>
{% endblock %}