{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .login-form {
        padding: 80px 20px;
        text-align: center;
    }

    .login-form form {
        margin: 0px auto;
        max-width: 500px;
        padding: 25px;
    }

    ul {
        text-align: center;
    }

    form ul li {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 350px;
        position: relative;
    }

    form ul li input {
        width: 350px;
        height: 40px;
        outline: none;
        border: none;
        border-bottom: 1px solid;
        background-color: #fafafa;
        position: relative;
    }

    form ul li label {
        top: 15px;
        left: 0;
        position: absolute;
        transition: all .3s;
    }

    input[id='username']:focus+label,
    input[id='username']:valid+label,
    input[type='password']:focus+label,
    input[type='password']:valid+label {
        top: -10px;
        font-size: 12px;
    }

    .error_message {
        height: 16px;
        text-align: center;
        color: red;
        font-weight: bold;

    }

    .btnWrap {
        margin-top: 40px;
        text-align: center;
    }

    .btnWrap input,
    .btnWrap a {
        margin: 0px 10px;
    }
</style>
{% load socialaccount %}
{% providers_media_js %}

<a></a>
<div class="login-form">
    <div>간편 로그인</div>
    <form action="{% url 'accountapp:login' %}" method="POST">
        {% csrf_token %}
        <ul>
            <li>
                <input type="text" name="username" id="username" value="{{ form.username.value|default_if_none:''}}"
                    required>
                <label for="username">사용자 이름</label>
            </li>
            <li>
                <input type="password" name="password" id="password" value="{{ form.password.value|default_if_none:''}}"
                    required>
                <label for="password">비밀번호</label>
            </li>

            <div class="btnWrap">
                <input type="submit" value="로그인" class="">
                <a class="" href="{% url 'concertapp:list'%}">취소</a>
            </div>
            {% for error in forms.errors %}
            {{error}}
            {%endfor%}
        </ul>
    </form>
    <!-- <a href="{% provider_login_url 'kakao' method='oauth2' %}">카카오 로그인</a> -->
    <a href="{% provider_login_url 'kakao' method='oauth2' %}"><img
            src="{% static 'kakao/kakao_login_medium_narrow.png'%}" alt=""></a>
</div>
{% endblock %}