{% load static %}
{% if advertisement %}
<div class="sideBar">
    {% for ad in advertisement%}
    <section class="sideContent">
        <div class="sidePoster">
            <a href="{% url 'concertapp:detail' ad.id %}"><img src="{{ ad.poster.url }}" alt=""></a>
        </div>
        <ul class="sideDesc">
            <li>{{ ad.category }}</li>
            <li>{{ ad.title}}</li>
            <li>{{ ad.start_day}} ~ {{ ad.end_day }}<a href="#"><i class="fas fa-ticket-alt"></i>예매하기</a></li>
            <li>상명 아트센터 계딩홀</li>
        </ul>
    </section>
    {%endfor%}
    <div class="buttonWrap">
        <button class="pauseBtn"><i class="fas fa-pause"></i></button>
        <ul class="pointWrap">
            {% for ad in advertisement %}
            <li>
                <div class="inner"></div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}