{% load static %}
<div class="seatWrap">
    <img src="{% static 'place1.PNG' %}" alt="" usemap="#placeTicket">
    <map name="placeTicket" id="placeTicket">

        <area shape="poly" coords="245,212, 316,213, 316,229, 289,260, 231,261, 231,223, 245,212" href="#" alt=""
            onmouseover="showPlaceInfo('B')" onmouseout="hidePlaceInfo('B')" onmousemove="movePlace()"
            onclick="selectPlace('B')">
        <area shape="poly" coords="368,212, 440,209, 449,223, 452,260, 395,259, 367,228, 368,212" href="#" alt=""
            onmouseover="showPlaceInfo('A')" onmouseout="hidePlaceInfo('A')" onmousemove="movePlace()"
            onclick="selectPlace('A')">
        <area shape="poly" coords="232,293, 292,295, 292,316, 330,317, 329,341, 265,341, 267,354, 236,351, 228,341"
            href="#" alt="" onmouseover="showPlaceInfo('D')" onmouseout="hidePlaceInfo('D')" onmousemove="movePlace()"
            onclick="selectPlace('D')">
        <area shape="poly" coords="349,318, 387,313, 387,289, 460,289, 455,341, 440,355, 412,359, 407,343, 352,342"
            href="#" alt="" onmouseover="showPlaceInfo('C')" onmouseout="hidePlaceInfo('C')" onmousemove="movePlace()"
            onclick="selectPlace('C')">
        <area shape="poly" coords="225,360, 272,389, 257,425, 199,391" href="#" alt="" onmouseover="showPlaceInfo(15)"
            onmouseout="hidePlaceInfo(15)" onmousemove="movePlace()" onclick="selectPlace('15')">
        <area shape="poly" coords="281,391, 336,401, 335,439, 268,429" href="#" alt="" onmouseover="showPlaceInfo(14)"
            onmouseout="hidePlaceInfo(14)" onmousemove="movePlace()" onclick="selectPlace('14')">
        <area shape="poly" coords="347,402, 400,392, 413,425, 347,440" href="#" alt="" onmouseover="showPlaceInfo(13)"
            onmouseout="hidePlaceInfo(13)" onmousemove="movePlace()" onclick="selectPlace('13')">
        <area shape="poly" coords="407,387, 457,358, 482,389, 422,424" href="#" alt="" onmouseover="showPlaceInfo(12)"
            onmouseout="hidePlaceInfo(12)" onmousemove="movePlace()" onclick="selectPlace('12')">

        <area shape="poly" coords="192,397, 255,433, 241,473, 165,428" href="#" alt="" onmouseover="showPlaceInfo(33)"
            onmouseout="hidePlaceInfo(33)" onmousemove="movePlace()" onclick="selectPlace('33')">
        <area shape="poly" coords="264,438, 332,453, 332,490, 249,476" href="#" alt="" onmouseover="showPlaceInfo(32)"
            onmouseout="hidePlaceInfo(32)" onmousemove="movePlace()" onclick="selectPlace('32')">
        <area shape="poly" coords="345,453, 415,438, 429,473, 346,491" href="#" alt="" onmouseover="showPlaceInfo(31)"
            onmouseout="hidePlaceInfo(31)" onmousemove="movePlace()" onclick="selectPlace('31')">
        <area shape="poly" coords="425,433, 488,397, 515,427, 440,474" href="#" alt="" onmouseover="showPlaceInfo(30)"
            onmouseout="hidePlaceInfo(30)" onmousemove="movePlace()" onclick="selectPlace('30')">
    </map>
</div>
<style>
    .placeCount {
        background: cornflowerblue;
        top: 398px;
        left: 385px;
        visibility: hidden;
        position: absolute;
        padding: 8px;
        color: #fff;
        border-radius: 10px;
    }

    .seatWrap {
        position: relative;
        text-align: center;
    }

    area {
        cursor: auto;
    }

    .seatWrap .standing {
        position: relative;
        margin: 0 auto;
        width: 50%;
        min-height: 220px;
        max-width: 420px;
    }

    .area:hover {
        box-shadow: 0 0 0 1px rgb(172, 170, 170);
    }

    /* @media screen and (max-width:930px) {

        .standing div,
        .floor2 div,
        .floor3 div {
            width: 200px;
            height: 100px;
        }
    } */
</style>