<div class="noticeWrap" style="display: block; padding: 20px 0 20px 0;">
        <p><span style="font-size:18px"><strong>&lt;알립니다&gt;</strong></span><br>
                <span style="font-size:14px">관람등급: 15세 이상 관람가 (2007년 포함 이전 출생자)<br>
                        15세 미만의 경우 티켓 유무, 보호자 동반 여부와 관계없이 공연장 입장이 불가 합니다.<br>
                        생년월일 확인 가능한 증빙서류(건강보험증, 여권 등)를 반드시 지참하셔야 하며<br>
                        관람 연령 미숙지로 인한 공연 당일 환불 및 취소, 변경이 불가하오니 예매 시 유의 바랍니다.</span>
        </p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px"><strong>[예매 관련 안내]</strong><br>
                        - 캐스팅 일정은 배우 및 제작사의 사정에 따라 사전 공지 없이 변동 될 수 있습니다.<br>
                        - 공연 당일 예매 티켓 수령 및 현장 구매는 매표소에서 공연 시작 1시간 전부터 가능합니다.<br>
                        - 예매하신 티켓의 사전 우편 배송은 불가하며 공연 당일 현장 수령만 가능합니다.<br>
                        - 티켓 수령 시 예매자 본인의 신분증 또는 예매번호 확인 후 티켓 수령이 가능하며,<br>
                        공연 당일에는 할인 권종 변경 및 취소, 환불이 불가합니다.<br>
                        - 할인 받은 내역이 있을 경우, 할인 권종에 따른 증빙 자료를 반드시 지참해주시기 바랍니다.<br>
                        할인 증빙 자료 미지참 시 정가에 대한 차액을 지불 하셔야 하며 현장에서는 할인 권종 변경이 불가 합니다.<br>
                        - 공식 예매처를 통하지 않은 개인 간 직거래 및 기타 불법적인 경로로 판매 및 구입한 티켓과 관련된 문제 발생&nbsp;시 </span></p>

        <p><span style="font-size:14px">&nbsp; 제작사, 주관사 및 예매처는 일체의 책임을 지지 않으며 발생된 피해 상황을 해결해 드릴 수 없습니다.</span></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px"><strong>[좌석 관련 안내]</strong><br>
                        - 공연 시작 후 도착하시는 경우 중간 입장이 제한되며, 지정된 시간에만 입장 가능합니다.<br>
                        지정된 시간에 지연 입장 하시는 경우 예매하신 좌석이 아닌 지연 좌석으로 안내 드립니다.<br>
                        - 지정된 시간이 지나거나 매진으로 인하여 지연 관객석이 없을 경우 입장이 불가하며 이로 인한<br>
                        &nbsp; 취소, 환불, 변경은 불가 하오니 공연 시작 전까지 입장하여 주시길 당부 드립니다.&nbsp;</span></p>

        <p>&nbsp;</p>

        <p><br>
                <span style="font-size:17px"><span style="font-size:14px"><strong>[공연 관람 안내]</strong><br>
                                - 본 공연은 인터미션이 없으며 공연 중 퇴장 시 재입장이 불가 합니다.<br>
                                - 본 공연은 커튼콜 촬영을 제외한 사전 협의 되지 않은 사진, 영상 촬영 및 녹음은 절대 불가 합니다.<br>
                                - 꽃 화환, 쌀 화환 등은 정중히 거절합니다. 마음만 감사히 받겠습니다.<br>
                                - 공연장 내 음료 및 음식물 반입이 금지되어 있습니다.<br>
                                - 극장 지역 특성상 주차나 차량 진입 등의 어려움이 많으며<br>
                                &nbsp; 공연장 주변이 상습 정체 구간 이오니 대중 교통을 이용해 주시기 바랍니다.<br>
        </p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p><span style="font-size:18px"><strong>&lt;코로나19 예방 관람 안내&gt;</strong></span><br>
                <span style="font-size:14px">1. 전 관객 마스크 착용 의무화<br>
                        다중 이용 시설인 공연장 내부(로비 및 객석) 입장 후에는 마스크 착용을 의무화 합니다.<br>
                        공연 관람 중에도 상시 마스크 착용을 부탁드립니다.</span>
        </p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px">2. 전 관객 대상 체온 측정 모니터링<br>
                        공연장 출입구에 설치된 열 감지 화상 카메라 등을 통해 전 관객 대상 체온을 모니터링 합니다.<br>
                        측정 체온 37.5도 이상 (발열 기준 온도)일 경우 입장이 제한 되오니 관람 시 유의 바랍니다.<br>
                        체온 미측정이나 측정 거부시 입장이 불가하오니 협조 부탁드립니다.</span></p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px">3. 전 관객 대상 문진표 의무화<br>
                        전 관객 대상 코로나19 자가 문진표 및 개인 정보 활용 동의서 작성을 진행 하오니 관객 여러분의 적극적인 협조 부탁드립니다. 해당 자료는 관할 당국의 지침에 따른
                        역학조사를 위한 용도외에는
                        사용되지 않습니다.<br>
                        *공연 관람 당일 문진 내용과 체온 측정 결과에 따라 객석 입장이 제한될 수 있습니다.<br>
                        &nbsp;_ 관람일 기준 15일 이내 자가격리 대상자 또는 가족 및 동거인 중 자가 격리 대상자가 있는 자<br>
                        &nbsp;_ 관람일 기준 15일 이내 확진자 다수 발생 장소(의료기관, 종교집회, 유흥시설) 방문 이력이 있는 자<br>
                        &nbsp;_ 관람일 기준 15일 이내 해외 방문 이력이 있는 자<br>
                        &nbsp;_ 관람 당일 발열 (37.5도 이상) 증상 및 호흡기 증상이 있는 자<br>
                        *문진표 작성 및 제출을 위해 여유 있게 공연장 방문을 부탁드립니다.</span></p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px">4. 위생 및 방역<br>
                        _ 공연장 내에는 관객 여러분들이 상시로 사용하실 수 있는 손 소독제가 비치되어 있습니다.<br></span></p>

        <p>&nbsp;</p>

        <p><span style="font-size:14px">5. 외부 음식물 반입 및 배우 증정 선물 일시 제한<br>
                        백스테이지 내 외부 음식물 반입을 한시적으로 통제 하고 있으며 이 기간 중에는 서포트는 받지 않습니다.<br>
                        또한 해당 기간 중 배우의 귀가길(퇴근길)을 포함한 대면 만남, 근거리 접촉 등을 제한 합니다.<br>
                        관객 여러분의 너른 이해와 양해를 부탁드립니다.</span></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p><span style="color:#ff0000"><strong><span style="font-size:14px">티켓 예매자는 본 안내 페이지의 모든 내용을 숙지한 것으로
                                        간주합니다.</span></strong></span></p>
</div>