{% extends 'base.html' %}
{% block content %}
<div class="paymentAppdWrap">
    <div class="paymentInfoWrap">
        <ul class="paymentInfo">
            <li id="orderInfo">결제 정보</li>
            <li class="orderInfoDesc">주문번호 <span>{{res.partner_order_id}}</span></li>
            <li class="orderInfoDesc">주문상품 <span>{{res.item_name}}</span></li>
            <li class="orderInfoDesc">결제금액 <span>{{amount}}원</span></li>
            <li class="orderInfoDesc">결제시각 <span>{{res.approved_at}}</span></li>
        </ul>
        <div class="confirmTicketWrap">
            <a href="{%url 'reservationapp:ticket_list'%}" class="confirmTicket">티켓 확인하기</a>
        </div>
    </div>
</div>
<style>
    .paymentAppdWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: calc(100vh - 83px);
    }

    .paymentInfoWrap {
        width: 500px;
        height: 600px;
        border: 1px solid transparent;
        border-radius: 10px;
        background: #e6e6e666;
    }

    .paymentInfo {
        margin: 30px 20px;
        display: grid;
        height: 75%;
    }

    .paymentInfo #orderInfo {
        text-align: center;
        font-size: 24px;
    }

    .orderInfoDesc {
        padding: 0px 20px;
    }

    .orderInfoDesc span {
        float: right;
    }

    .confirmTicketWrap {
        text-align: center;
    }

    .confirmTicket {
        background: cornflowerblue;
        padding: 8px 20px;
        color: #fff;
        border: 1px solid transparent;
    }
</style>
{% endblock %}