{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="reserveWrap">
    <form action="{% url 'reservationapp:reserve' performance.id %}" class="reserveForm" method="POST">
        {% csrf_token%}
        {% include 'concertapp/snippets/jamsil.html' with seats=seats%}
        <div class="choiceWrap">
            <ul class="choiceList">
                <li>
                    <p class="comment">**구역과 날짜를 선택하시면 잔여 티켓 수를 확인할 수 있습니다.</p>
                </li>
                <li><label for="reserveDate">날짜 선택</label>
                    <select name="date" id="reserveDate">
                        {% for sked in schedule %}
                        <option value="{{sked.start_dt|date:'Y-m-d H:i'}}">{{sked.start_dt|date:'Y.m.d H:i'}}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <label for="reserveConut">예매 개수</label>
                    <input type="number" name="count" id="reserveCount" min="0" value="0">
                </li>
                <li>
                    <label for="reserveArea">구역 선택 </label>
                    <input type="text" name="area" id="reserveArea" readonly placeholder="구역을 선택해주세요.">
                </li>
                <li>
                    <label for="totalAmount">결제 가격 </label>
                    <input type="text" name="totalAmount" id="totalAmount" readonly placeholder="">
                </li>
                <li class="pay">
                    <input type="submit" value="결제" id="reserveSubmit">
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="placeCount"></div>
<style>
    .reserveWrap {
        position: relative;
        margin: auto;
        width: 1230px;
        top: 10%;
        border-radius: 18px;
        box-shadow: 0 0 0 2px #e7e6e6;
        padding: 20px;
    }

    .reserveForm {
        display: flex;
        height: 100%;
    }

    .seatWrap {
        width: 70%;
        height: 100%;
    }

    .choiceWrap {
        border-left: 1px solid;
        width: 30%;
        padding: 20px 10px 20px 30px;
    }

    .choiceWrap .choiceList li {
        margin: 0 0 30px 0;
    }

    .choiceWrap ul li label {
        margin-right: 10px;
        vertical-align: middle;
    }

    #reserveDate {
        font-size: 16px;
        border-radius: 6px;
        padding: 8px 10px;
    }

    #reserveCount {
        width: 40px;
        text-align: center;
    }

    .choiceWrap .choiceList .pay #reserveSubmit {
        vertical-align: middle;
        transition: all .3s;
        cursor: pointer;
        outline: none;
        padding: 8px 30px;
        color: #fff;
        border: 1px solid transparent;
        background: cornflowerblue;
        border-radius: 6px;
    }

    .comment {
        letter-spacing: -1px;
        margin-bottom: 10px;
        font-size: 13px;
        color: cornflowerblue;
    }

    #reserveArea,
    #totalAmount {
        vertical-align: middle;
        outline: none;
        border: none;
        background: #fafafa;
        font-size: 16px;
    }
</style>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    const date = document.querySelector('#reserveDate');
    const area = document.querySelectorAll('.area input');
    const performanceNumber = location.pathname.split('/')[3];
    let reserveCount = document.querySelector('#reserveCount');
    let placeCount = document.querySelector('.placeCount');
    let reserveArea = document.querySelector('#reserveArea');
    let areaValue, remainCount;

    date.addEventListener('change', () => {
        getTicketRemainCount();
    })

    function showPlaceInfo(value) {
        areaValue = value
        getTicketRemainCount(event.target);
    }
    function hidePlaceInfo(areaValue) {
        placeCount.style.visibility = "hidden"
    }

    function movePlace() {
        const mouseX = event.pageX + 20;
        const mouseY = event.pageY;
        placeCount.style.top = `${mouseY}px`;
        placeCount.style.left = `${mouseX}px`;
    }

    function selectPlace(value) {
        event.preventDefault();
        if (remainCount !== 0) {
            reserveArea.value = value
        } else {
            alert("구매가능한 좌석이 없습니다.")
        }
    }

    function getTicketRemainCount(targetPlace) {
        $.ajax({
            url: '/api/reservation/remain/',
            method: "POST",
            mode: 'same-origin',
            data: { 'areaValue': areaValue, 'date': date.value, 'performanceNumber': performanceNumber },
            headers: { 'X-CSRFToken': csrftoken },
            datatype: "json",
        }).done(response => {
            remainCount = response.remainCount;
            reserveCount.max = remainCount;
            placeCount.style.visibility = "visible"
            placeCount.innerText = `잔여석 : ${remainCount}`
            if (remainCount !== 0) {
                targetPlace.style.cursor = "pointer"
            }

        }).fail(error => {
            console.log(error);
        })
    }
</script>
{% endblock %}