<nav class="navbar">
    <div class="navbar_logo">
        <a href="{% url 'home'%}">Ticket Capture</a>
    </div>

    <ul class="navbar_menu">
        <li><a href="{% url 'concertapp:conert'%}">콘서트</a></li>
        <li><a href="#">뮤지컬</a></li>
        <li><a href="#">클래식</a></li>
        <li><a href="#">제휴문의</a></li>
    </ul>

    <div class="navbar_search">
        <form action="">
            <input type="text">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</nav>
{% if user.is_authenticated%}
<button class="userDropDownBtn"><i class="far fa-user"></i></button>
{% else %}
<a href="{% url 'accountapp:login'%}" class="loginBtn"><i class="far fa-user"></i></a>
{% endif %}
<a href="#" class="toggleBtn"><i class="fas fa-bars"></i></a>
<ul class="userDropDownMenu">
    <li><a href="">{{user.username}}</a></li>
    <li><a href="{% url 'accountapp:logout' %}">로그아웃</a></li>
</ul>
<script>
    const menuBtn = document.querySelector('.toggleBtn');
    const menu = document.querySelector('.navbar_menu');
    const userDropDownBtn = document.querySelector('.userDropDownBtn');
    const userDropDownMenu = document.querySelector('.userDropDownMenu')
    // toggle Event
    menuBtn.addEventListener('click', () => {
        menu.classList.toggle('active');
    })

    userDropDownBtn.addEventListener('click', (event) => {
        event.stopPropagation();
        userDropDownMenu.classList.toggle('active');
    })

    document.addEventListener('click', () => {
        userDropDownMenu.classList.remove('active');
    })
</script>
<style>
    a {
        text-decoration: none;
        color: black;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1.2rem;
        box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%);
    }

    .navbar_logo {
        font-size: 1.5rem;
        font-family: 'Righteous', cursive;
        font-weight: bold;
    }

    .navbar_menu {
        display: flex;
        list-style: none;
        margin-left: 95px;
    }

    .navbar_menu li {
        padding: 0.5rem 0.8rem;
        margin: 0px 1rem;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .navbar_search {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 60px;
        border: none;
        color: cornflowerblue;
        background-color: #fafafa;
        box-shadow: 0px 0px 3px grey;
        width: 240px;
        height: 30px;
        border-radius: 20px;
    }

    .navbar_search form {
        width: 90%;
    }

    .navbar_search form input {
        font-size: 16px;
        color: gray;
        background-color: #fafafa;
        width: 188px;
        height: 20px;
        border: none;
        outline: none;
    }

    .navbar_search form button {
        border: none;
        background-color: #fafafa;
        color: gray;
        font-size: 18px;
        position: absolute;
    }

    .loginBtn,
    .userDropDownBtn {
        position: absolute;
        background-color: #fafafa;
        border: none;
        font-size: 23px;
        color: cornflowerblue;
    }

    .loginBtn {
        top: 1rem;
        right: 2rem;
    }

    .userDropDownBtn {
        top: 15px;
        right: 26px;
        cursor: pointer;
    }

    .userDropDownMenu {
        background-color: white;
        top: 65px;
        right: 10px;
        visibility: hidden;
        position: absolute;
        list-style: none;
        box-shadow: 0px 0px 10px grey;
        border-radius: 8px;
    }

    .userDropDownMenu li {
        text-align: center;
        padding: 8px 10px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .userDropDownMenu li a:hover {
        font-weight: bold;
    }

    .userDropDownMenu li a {
        background-color: white;
        padding: 0.4rem 0.8rem;
        color: cornflowerblue;
        font-size: 14px;
    }

    .toggleBtn {
        position: absolute;
        right: 1.5rem;
        font-size: 1.5rem;
        color: cornflowerblue;
        display: none;
    }

    .userDropDownMenu.active {
        visibility: visible;
    }

    @media screen and (max-width: 1200px) {
        .navbar_menu {
            margin-right: 30px;
        }

        .navbar_search {
            width: 200px;
        }

        .navbar_search form input {
            width: 150px;
        }
    }

    @media screen and (max-width: 1060px) {
        .navbar_menu {
            margin: 0;
        }
    }

    @media screen and (max-width: 930px) {
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 16px
        }

        .navbar_menu {
            display: none;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-top: 25px;
        }

        .navbar_menu li {
            width: 100%;
            text-align: center;
        }

        .navbar_userBtn {
            position: absolute;
            justify-content: center;
        }

        .navbar_menu.active {
            display: flex;
        }

        .navbar_search {
            position: absolute;
            right: 95px;
            top: 15px;
        }

        .loginBtn {
            top: 18px;
            right: 57px;
        }

        .userDropDownBtn {
            position: absolute;
            right: 51px;
            top: 17px;
            font-size: 23px;
            color: cornflowerblue;
        }

        .toggleBtn {
            display: block;
            top: 17px;
            right: 17px;
        }
    }
</style>