<nav class="navbar">
    <div class="navbar_logo">
        <a href="{% url 'home'%}">Ticket Capture</a>
    </div>

    <ul class="navbar_menu">
        <li><a href="#">콘서트</a></li>
        <li><a href="#">뮤지컬</a></li>
        <li><a href="#">클래식</a></li>
        <li><a href="#">재휴문의</a></li>
    </ul>

    <div class="navbar_search">
        <form action="">
            <input type="text">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <button class="userDropDownBtn"><i class="far fa-user"></i></button>
    <a href="#" class="toggleBtn"><i class="fas fa-bars"></i></a>
    <ul class="navbar_userBtn">
        {% if user.is_authenticated%}
        <li><a href="">{{user.username}}</a></li>
        <li><a href="{% url 'accountapp:logout' %}">로그아웃</a></li>
        {% else %}
        <li><a href="{% url 'accountapp:login'%}">로그인</a></li>
        <li><a href="{% url 'accountapp:create'%}">회원가입</a></li>
        {% endif %}
    </ul>
</nav>
<script>
    const menuBtn = document.querySelector('.toggleBtn');
    const menu = document.querySelector('.navbar_menu');
    const userDropDownBtn = document.querySelector('.userDropDownBtn');
    const userBtn = document.querySelector('.navbar_userBtn')
    // toggle Event
    menuBtn.addEventListener('click', () => {
        menu.classList.toggle('active');
    })

    userDropDownBtn.addEventListener('click', (event) => {
        event.stopPropagation();
        userBtn.classList.toggle('active');
    })

    document.addEventListener('click', () => {
        userBtn.classList.remove('active');
    })
</script>
<style>
    a {
        text-decoration: none;
        color: black;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 1rem;
        box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%);
    }

    .navbar_logo {
        font-size: 1.5rem;
        font-family: 'Righteous', cursive;
        font-weight: bold;
    }

    .navbar_menu {
        display: flex;
        list-style: none;
        margin-right: 50px;
    }

    .navbar_menu li {
        padding: 0.5rem 0.8rem;
        margin: 0px 1rem;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .navbar_userBtn {
        background-color: white;
        top: 65px;
        right: 10px;
        visibility: hidden;
        position: relative;
        list-style: none;
        box-shadow: 0px 0px 10px grey;
        border-radius: 8px;
    }

    .navbar_userBtn li {
        text-align: center;
        padding: 8px 10px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .navbar_userBtn li a:hover {
        font-weight: bold;
    }

    .navbar_userBtn li a {
        background-color: white;
        padding: 0.4rem 0.8rem;
        color: cornflowerblue;
        font-size: 14px;
    }

    .navbar_search {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 60px;
        border: none;
        color: cornflowerblue;
        background-color: #fafafa;
        box-shadow: 0px 0px 3px grey;
        width: 240px;
        height: 30px;
        border-radius: 20px;
    }

    .navbar_search form {
        width: 90%;
    }

    .navbar_search form input {
        font-size: 18px;
        color: gray;
        background-color: #fafafa;
        width: 188px;
        height: 20px;
        border: none;
        outline: none;
    }

    .navbar_search form button {
        border: none;
        background-color: #fafafa;
        color: gray;
        font-size: 18px;
        position: absolute;
    }

    .toggleBtn {
        position: absolute;
        right: 1.5rem;
        font-size: 1.5rem;
        color: cornflowerblue;
        display: none;
    }

    .userDropDownBtn {
        background-color: #fafafa;
        border: none;
        position: absolute;
        right: 1rem;
        font-size: 23px;
        color: cornflowerblue;
        cursor: pointer;
    }

    .navbar_userBtn.active {
        visibility: visible;
    }

    @media screen and (max-width: 1060px) {
        .navbar_menu {
            margin-right: 135px;
        }

    }

    @media screen and (max-width: 930px) {
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 16px
        }

        .navbar_menu {
            display: none;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-top: 25px;
        }

        .navbar_menu li {
            width: 100%;
            text-align: center;
        }

        .navbar_userBtn {
            position: absolute;
            justify-content: center;
        }

        .toggleBtn {
            display: block;
        }

        .navbar_menu.active {
            display: flex;
        }

        .userDropDownBtn {
            position: absolute;
            right: 60px;
            font-size: 23px;
            color: cornflowerblue;
            top: 21px;
        }

        .navbar_search {
            right: 110px
        }
    }
</style>