<nav class="navbar">
    <div class="navbar_logo">
        <a href="{% url 'home'%}">Ticket Capture</a>
    </div>

    <ul class="navbar_menu">
        <li><a href="{% url 'concertapp:category' 'concert'%}">콘서트</a></li>
        <li><a href="{% url 'concertapp:category' 'musical'%}">뮤지컬</a></li>
        <li><a href="{% url 'concertapp:category' 'classic'%}">클래식</a></li>
        <li><a href="#">제휴문의</a></li>
    </ul>

    <div class="navbar_sub">
        <form action="">
            <input type="text">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        {% if user.is_authenticated%}
        <button class="userDropDownBtn"><i class="far fa-user"></i></button>
        {% else %}
        <a href="{% url 'accountapp:login'%}" class="loginBtn"><i class="far fa-user"></i></a>
        {% endif %}
        <a href="#" class="toggleBtn"><i class="fas fa-bars"></i></a>
    </div>
</nav>

<ul class="userDropDownMenu">
    <li><a href="">{{user.username}}</a></li>
    <li><a href="{% url 'accountapp:logout' %}">로그아웃</a></li>
</ul>